<section id="navigation">
  <div class="container">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: #18465f;">FIGHT <span style="color: #f63c53;"> COVID19</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#graph">Graph</a>
                </li>
              </ul>

            </div>
          </div>
        </nav>
      </div>
    </div>
</section>


<section id="header">
  <div class="container">
    <form action="">
      <div class="form-group">
        <select (change)="countryChanged($event.target.value)" class="form-control customDropdown" name="" id="country">
          <option selected value="global">Global</option>
          <option *ngFor="let country of countries" value="{{ country }}">{{ country }}</option>
        </select>
      </div>
    </form>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card card-infected">
          <div class="card-body">
            <h3 class="card-title">INFECTED</h3>
            <p class="card-text" [countUp]="data.confirmed">{{ data.confirmed | number }}</p>
            <p>{{ data.lastupdate | date: 'longDate' }}</p>
            <p>Nummber of active cases of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-recovered">
          <div class="card-body">
            <h3 class="card-title">RECOVERED</h3>
            <p class="card-text" [countUp]="data.recovered">{{ data.recovered | number }}</p>
            <p>{{ data.lastupdate | date: 'longDate' }}</p>
            <p>Nummber of recovered cases of COVID-19</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-deaths">
          <div class="card-body">
            <h3 class="card-title">DEATHS</h3>
            <p class="card-text" [countUp]="data.deaths">{{ data.deaths | number }}</p>
            <p>{{ data.lastupdate | date: 'longDate' }}</p>
            <p>Nummber of death cases of COVID-19</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<section id="graph">
  <div class="container">
    <div class="row">
      <div class="col chart-wrapper">
        <canvas *ngIf="global" baseChart
          [chartType]="lineChartType"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          >
          </canvas>
          <canvas *ngIf="!global" baseChart
            [chartType]="barChartType"
            [datasets]="barChartData"
            [labels]="barChartLabel"
          >
          </canvas>
      </div>
    </div>
  </div>
</section>
<hr>
<section id="footer">
  <div class="container">
    <div class="row">
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> thisIsFooter.com</a>
          </div>
          <!-- Copyright -->
    </div>
  </div>
</section>
