@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap');

* {
  font-family: 'Alegreya Sans', sans-serif;

}

body, html {
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  background: url('assets/images/bg-fight.jpeg') center center no-repeat;
  background-size: contain;

}

.marg {
  margin-right: .5px;
}

.ml-auto {
  margin-left: auto!important;
}
#navigation {
  background-color: #29868d;
}



#header {
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

#header .h1-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}

#header .card {
  background-color: #29868d;
  color: #ffffff;
 }

 #header .card-text {
   font-weight: bold;
   font-size: 50px;
   color: tomato;
 }
 #header .card-infected {
   border-bottom-color: #f2c488;
   border-bottom-width: 10px;
 }
 #header .card-recovered {
   border-bottom-color: #6aa7c6;
   border-bottom-width: 10px;
 }
 #header .card-deaths {
   border-bottom-color: lightsalmon;
   border-bottom-width: 10px;
 }

select.customDropdown::-ms-expand {
  display: none;
}

select.customDropdown {
  outline : none;
  overflow : hidden;
  text-indent : 0.01px;
  text-overflow : '';

  background : url("https://img.icons8.com/material/24/000000/sort-down.png") no-repeat right #fff;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }
  #navigation {
    margin: 0px 0 50px 0;
    background-color: #29868d;
  }

  #first .form-group {
    width: 100%;
  }

  #header .h1-title {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    font-weight: bold;
    /* margin: 20px 0 70px 0; */
  }

  #header .card-text {
    font-weight: bold;
    font-size: 40px;
    color: tomato;
  }

}
